h1 {
    color: blue;
}
body {
    background-color: lightblue;
    background-image: url("../images/quiz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h2 {
    color: blue;
}
h3 {
    color: blue;
}
